@import url(http://allfont.net/allfont.css?fonts=garamond-bold);
$padding: 2vw 2vw;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Garamond Bold", arial;
  margin: 0;
  background-image: linear-gradient(260deg, #ffd000c9 0%, #ee1e1ee8 100%);
  margin: 2vw 2vh;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
}
a:hover {
  background: rgba(0, 0, 0, 0.4);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 0;
  // font-style: Garamond Bold;
}
.header h3 {
  font-size: 3vw;
}

.menu {
  padding: 1vw;
}

.menu > * {
  padding: 1vw;
  font-size: 1vw;
  font-weight: 200;
}

.NewGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currentGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

// .currentPlayer {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   width: 100vw;
// }

.addedPlayer {
  display: flex;
  align-items: center;
  padding: $padding;
}

.addedPlayerName {
  padding: $padding;
}

.addedPlayerMove {
  padding: $padding;
}

.addedMovePlayer {
  display: flex;
  flex-direction: column;
}

.gameList {
  list-style: none;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-basis: 20px;
  height: 200px;
}

.gameList > * {
  padding: 10px;
  height: 50px;
}

.fieldList {
  display: flex;
  flex-direction: row;
  flex-basis: 50px;
  width: 80vw;
  flex-wrap: wrap;
}

.fieldList > * {
  flex: 1 1 auto;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field > img {
  max-width: 3vw;
  max-height: 3vw;
  min-width: 3vw;
  min-height: 3vw;
}
.leadingField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.submitTurn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field > input {
  width: 30px;
}
