html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #ffd000c9 0%, #ee1e1ee8 100%);
  margin: 2vw 2vh;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
}
a:hover {
  background: rgba(0, 0, 0, 0.4);
}

.subheader {
  padding: 10px;
}

.subheader > * {
  padding: 10px;
}

.NewGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddedPlayers {
  border: 1px black;
}

.gameList {
  list-style: none;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-basis: 20px;
  height: 200px;
}

.gameList > * {
  padding: 10px;
  height: 50px;
}

.fieldList {
  display: flex;
  flex-direction: row;
  flex-basis: 50px;
  width: 100vw;
  flex-wrap: wrap;
}

.fieldList > * {
  flex: 1 1 auto;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leadingField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.submitTurn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field > input {
  width: 30px;
}
